 #title {
   font-weight: 700;
   text-align: center;
   text-transform: uppercase;
   font-size: 32px;
 }

  .cabecalho {
   display: flex;
   background: var(--cinza);
   color: white;
   justify-content: center; 
   align-items: center;
   position: relative;
   height: 55px;
   width: auto;
   margin: 0 auto;
   padding: 2em;
 } 
