 #title {
   font-weight: 700;
   text-align: center;
   text-transform: uppercase;
 }

  .cabecalho {
   display: flex;
   background: var(--cinza);
   color: white;
   justify-content: center; 
   width: 98%;
   height: 20vw;
   align-items: center;
   justify-items: center;
   position: relative;
   margin: 0 auto;
 }
 
  .header__container {
   display: flex;
 }
