  .menu {
    background: var(--cinza);
    width: auto;
    margin: 1em auto;
    font-weight: 700;
    padding: 0 2em;
  }

  .texto__menu {
    color: white;
    text-decoration: none; 
    font-size: 32px;
    text-transform: uppercase;
  }

  .menu__lista{
    height: auto;
    display: flex; 
  }

  .item__menu {    
    display: flex;
    margin: 1vw;
    background: var(--cinza-escuro);
    width: auto;
    text-align: center;
    border-radius: 5px;
    padding: 2em;
  }
