  @import url("css/header.css");
  @import url("css/menu.css");
  
  
  :root {
    --fonte-padrao: "Poppins";
    --azul-escuro: #0a0040;
    --cinza-escuro: #666666;
    --cinza: #404040;
  }

  body {
    background: var(--cinza-escuro);
    font-family: var(--fonte-padrao);
    font-size: 16px;
    font-weight: 400;
    align-items: center;
  }
