  @import url("css/header.css");
  
  
  :root {
    --fonte-padrao: "Poppins";
    --cor-de-fundo: #0a0040;
    --cinza: #969696;
  }
  
  
  body {
    background: var(--cor-de-fundo);
    font-family: var(--fonte-padrao);
    font-size: 16px;
    font-weight: 400;
    align-items: center;
  }
